*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.pricing-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #555;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;  
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}


.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6c63ff;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('images/bg-top.svg'),
    url('images/bg-bottom.svg');
    background-position: top right, bottom left;
    background-repeat: no-repeat,no-repeat;
    background-position-x: 1200px, -100px;
    background-position-y: 0, 550px;
    background-color: hsl(240, 78%, 98%);
  
  
}
.container{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.card{
    width: 300px;
    height: 400px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    gap:10px;
    font-family: 'Montserrat',sans-serif;
    color: hsl(232, 13%, 33%);
    font-weight: 900;
    background-color: white;
    border-radius: 10px;
}
hr, button{
    width: 100%;
}
.card h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.card p{
    font-size: 16px;
    line-height: 1.5;
}
.card button{
    padding: 10px;
    border: 1px solid hsl(237, 63%, 64%);;
    color:hsl(237, 63%, 64%);
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    cursor:pointer;
}

.card:nth-of-type(2){
    color:  white;
    background-image: linear-gradient(to bottom,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    height: 450px;
    padding-top: 65px;

}
.card:nth-of-type(2) button{
    background-color: transparent;
    color: white;
    border:1px solid white;
}

.card-container {
    display: flex;
    justify-content: center;
    /* gap:20px; */
    align-items: center;
}
.card{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
h1{
    color:hsl(233, 13%, 49%);
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
}

@media screen and (max-width: 450px){
    body{
        background-position-x: 200px, -100px;
        background-position-y: 0, 1000px;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .card:nth-of-type(2){
        height: 400px;
        /* padding-top: 0; */
    }

}